*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: rgb(255, 255, 255);
    font-family: 'Poppins', sans-serif;
}

::-webkit-scrollbar{
    width: 12px;

}
::-webkit-scrollbar-thumb{
    background-color: #5ca904;
    border-radius: 6px;
    width: 20px;
    /* background: linear-gradient(transparent,#5ca904); */
}

::-webkit-scrollbar-track{
    background-color: #1d1d77;
}


.w-40{
    width:40%;
}

.p-50{
    padding: 50px;
}

.p-10{
    padding: 10px;
}

.pos{
    position: absolute;
}

.pos-rel{
    position: relative;
    left: 10%;
    top: 10%;
    transform: translate(50%, 50%);
}

.mtb-20{
    margin: 20px 0;
}

.txt-alg{
    text-align: center;
}

.cent{
    margin: 100px;
}

.clr-red{
    color:red;
}

.clr-white{
    color: white;
}

.card-me{
    padding: 20px;
    width:25%;
}
.card-me img{
    width: 100%;
}

.solar1{
    background-image: url("img/solar1.png"), linear-gradient(to bottom, rgb(0, 0, 0, 0.9), rgba(0, 0, 0, 0.815));
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}

.solar2{
    background-image: url("img/solar2.png"), linear-gradient(to right, rgb(1, 17, 17, 0.9), rgba(0, 0, 0, 0.815));
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}

.solar3{
    background-image: url("img/solar3.png"), linear-gradient(to bottom, rgb(0, 0, 10, 0.7), rgba(0, 0, 0, 0.815));
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}

/* .card-me img:hover{ */
    /* background-image: url('./img/solar1.png'); */
    /* width: 10%; */
/* transform:scale(0.9) */
/* } */
    /* margin: 0;
    padding: 0;
    box-sizing: border-box;
} */



/* Nav Bar */
.main-bar{
    background-color: #fff;
    display: flow-root ;
    padding-left: 10% ;
    width: 100%;
    position: fixed;
    /* box-shadow: 5px 5px 15px  rgba(0.4,0,0,0.1); */

}

#check{
    display: none;
}

.logo-header{
    display: table;
    float: left;
    vertical-align: middle;
    padding: 0;
    color: #20ef76;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    width: 180px;
    height: 68px;
    position: relative;
    z-index: 9;
    transition: all 0.5s;
    -moz-transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
}

.logo-header:before{
    content: "";
    position: absolute;
    bottom: 0;
    height: 100%;
    z-index: -1;
    right: -50px;
    width: 80%;
    transform: skew(30deg);
    background-color: #5ca904;
    

}

.logo-header:before{
    content: "";
    position: absolute;
    bottom: 0;
    height: 100%;
    z-index: -1;
    right: 10%;
    width: 2000px;
    background-color: #5ca904;
}

.logo-header a{
    color: #22272b;
    font-size: 33px;
    font-weight: 600;
    line-height: 70px;
    text-decoration: none;
}

nav ul{
    float: right;
    padding-left: 10%;
}

nav ul li{
    display: inline-block;
    line-height: 70px;
    border-radius: 14px;
}

/* nav li.active a{
    color: #020101;
    background-color: #fddb0d;
    border-radius: 14px;
} */

nav li a{
    padding: 15px 25px;
    border: 0;
    margin-bottom: 8px;
    font-size: 16px;
    font-weight: 500;
    color: #1d1d77;
    opacity: 1;
    text-decoration: none;
    transition: all 0.5s;
    border-radius: 14px;
}

nav li:hover a{
    color: #5ca904;
    /* background-color: #5ca904; */
    border-radius: 14px;

}

@media(max-width: 1250px){
    .main-bar{
        padding: 0 2%;
    }
    nav li a{
        padding: 15px 20px;
    }
}

.checkbtn{
    float: right;
    width: 20px;
    height: 18px;
    position: relative;
    transform: rotate(0);
    transition: 0.5s ease-in-out;
    cursor: pointer;
    top: 25px;
    display: none;
}

@media(max-width: 992px){
    .main-bar{
        padding: 0 10%;
    }

    .checkbtn{
        display: block;
        margin-right: 40px;
    }

    nav ul{
        position: fixed;
        width: 350px;
        height: 100vh;
        background: #fff;
        top: 68px;
        right: -100%;
        text-align: center;
        transition: all 0.5s;
    }

    nav ul li{
        display: block;
        margin: 50px 0;
        line-height: 30px;
    }

    #check:checked ~ ul{
        right: 0;
    }

}

@media (max-width: 560px){
    nav ul{
        display: block;
        width: 80%;
    }
}

/* .checkbtn span{
    background-color: #1d1d77;
    display: block;
    position: absolute;
    height: 2px;
    width: 100%;
    border-radius: 1px;
    opacity: 1;
    left: 0;
    transform: rotate(0);
    transition: 0.25s; ease-in-out;
} */

/* Hamburger Toggle */

.checkbtn span:nth-child(1){
    top: 0;
}

.checkbtn span:nth-child(2){
    top: 7px;
}
.checkbtn span:nth-child(3){
    top: 14px;
}

.below{
    background-color: #1d1d77;
}




   /* Our Blogs */

.blog-font{
    font-size: 43px;
}

#blogs{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 40px;

}

.blogs-heading{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.blogs-heading span{
    color: #1d1d77;
}

.blogs-heading h4{
    color: rgb(177, 175, 175);
    font-weight: 500;
    font-family:Arial, Helvetica, sans-serif;
}

.blogs-container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0px;
    flex-wrap: wrap;
}

.blog-box{
    width: 380px;
    background-color: #fff;
    /* border: 1px solid #ececec; */
    margin: 7px;
    border-radius: 10px;
    
}

.blog-box:hover{
    box-shadow: 5px 5px 15px  rgba(0.4,0,0,0.1);
    transition: all 0.5s;
}

.blog-img{
    width: 100%;
    height: auto;

}

.blog-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    border-radius: 10px;

}

.blog-text{
    padding: 20px;
    display: flex;
    flex-direction: column;
}

.blog-text span{
    color: grey;
}

.blog-title{
    font-size:1.5rem;
    font-weight:600;
    color: #1d1d77;
    text-decoration: none;
}

.blog-title:hover{
    color: #5ca904;
    transition: all ease 0.3s;
}

@media(max-width:1250px){
    .blog-box{
        width: 70%;
    }
}

@media(max-width:1100px){
    .blog-box{
        width: 70%;
    }
}

@media(max-width:550px){
    .blog-box{
        margin: 20px 10px;
        width: 100%;
    }
    #blog{
        padding: 20px;
    }
}


/* footer */

footer{
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    flex-flow: row wrap;
    padding: 50px;
    color: #fff;
    background-color: #1d1d77;
}

.footer > *{
    flex: 1 100%;
}

.footer-left{
    margin-right: 1.25em;
    margin-bottom: 2em;
}

.footer-left img{
    width: 50%;
}

.footer-right h2{
    font-weight: 600;
    font-size: 17px;
}

.footer ul{
    list-style: none;
    padding-left: 0;
}

.footer li{
    line-height: 2em;
}

.footer a{
    text-decoration: none;
}

.footer-right{
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    flex-flow: row wrap;
}

.footer-right > *{
    flex: 1 50%;
    margin-right: 1.25em;
}

.box a{
    color: #999;
}

.footer-bottom{
    text-align: center;
    color: #999;
    padding-top: 50px;
}

.footer-left p{
    padding-right: 20%;
    color: #999;
}

.socials a{
    background: #1d1d77;
    width: 40px;
    height: 40px;
    display: inline-block;
    margin-right: 10px;
}

.socials a i{
    color: #5ca904;
    padding: 10px 0px;
    font-size: 20px;
}

.project{
    color: #5ca904;
}

@media screen and (min-width: 600px){
    .footer-right > *{
        flex: 1;
    }
    .footer-left{
        flex: 1 0px;
    }
    .footer-right{
        flex: 2 0px;
    }
}

@media (max-width: 600px){
    .footer{
        padding: 15px;
    }
}
