.navbar{background-color: #5d8cd8;}
.heading{text-align: center;
padding-top: 2%;}
.writing{text-align: center;
padding-top: 15px;}

.background{background-color: rgb(219, 215, 215);
    background-size: 100%;
    background-size:contain;
    background-repeat: no-repeat;
}
.ima{width: 100%;
height: 300px;}

.card{
width: 500px;
height: 400px;}
